<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person's profile</title>
</head>

<style>
    h1,p {display: inline}
</style>

<body>
    <h1 th:text="${person.getName()}"></h1>, <h1 th:text="${person.getBirthYear()}"></h1>
    <div th:if="${books.size() > 0}">
        <p>Books:</p>
        <div th:each="book : ${books}">
            <p th:text="${book.getBookName()}"></p>,
            <p th:text="${book.getAuthor()}"></p>,
            <p th:text="${book.getYear()}"></p>
        </div>
    </div>

    <div th:unless="${books.size() > 0}">
        <p>This person hasn't taken any books yet.</p>
    </div>

    <a th:href="@{{id}/edit(id=${person.getPerson_id()})}">Edit</a>

    <form th:method="DELETE" th:action="@{{id}(id=${person.getPerson_id()})}">
        <input type="submit" value="Delete">
    </form>

</body>
</html>