<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>

<style>
    h1 { display: inline}
    a {display: block}
</style>

<body>
<h1 th:text="${book.getBookName()}"></h1>,
<h1 th:text="${book.getAuthor()}"></h1>,
<h1 th:text="${book.getYear()}"></h1>

<p>This book is available to take. To whom add this book?</p>

<select th:each="person : ${people}">
    <option th:text="person.getName()"></option>
</select>

<a th:href="@{{id}/edit(id=${book.getBook_id()})}">Edit book</a>
<form th:method="DELETE" th:action="@{{id}(id=${book.getBook_id()})}">
    <input type="submit" value="delete" />
</form>
</body>
</html>